<main id="news">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>{{ .Headline }}</h2>
                    <p>{{ .Description }}</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>{{ .Text }}</p>
                </div>
            </div>
        </div>
    </section>
</main>
